{% extends "shared/base.html" %}


{% block title %}
  <title>Leaders Board</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="display-4">Find great organizations...</h1>

    {% for organization in organizations %}
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title">{{ organization.full_name }}</h5>
          <p class="card-text">{{ organization.email }}</p>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}
